<h1> Welcome! These Are Your Bookings:</h1>
<div class="container">
  <ul>
  <% @bookings.each do |booking| %>
  <li><%= booking.experience.title %> <%= booking.created_at%></li>
  <% end %>
  </ul>
  <%= console %>
</div>
