<h1>Bookings#show</h1>
<%# Cómo hago para poner el nombre de la experiencia %>
<h1><%= @booking.experience %></h1>
<p>Starting at:</p><%= @booking.start_time %>
<p>Ending at:</p><%= @booking.end_time %>


