<footer class="bg-dark text-white text-center py-3 mt-5">
  <i class="fa-brands fa-facebook"></i>
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-x-twitter"></i>
  <div class="container">
    <p class="mb-1">&copy; <%= Date.today.year %> City Xplor. All rights reserved.</p>
    <p class="mb-0">Made by the Best Team City Xplor Team</p>
  </div>
</footer>
